{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>Navbar Example</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
   <link rel="stylesheet" href="{% static 'champions/css/style.css'%}">
   <style>
    .centered-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      height: 100vh;
      margin-top: 100px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <ul class="nav-item">
      <li><a href="/champions/home">Home</a></li>
      <li><a href="/champions/contact">Contact Us</a></li>
      <li><a href="/champions/about">About Us</a></li>
      <li><a href="/champions/forms/create">Add product</a></li>
      <li><a href="/champions/category_list">Show Categories</a></li>
     
    </ul>
   
    </div>
     {%if user.id%}
    
      
      <a href="{%url 'logout'%}" class="nav-item  ms-auto">
        <button class="btn btn-secondary me-2 ">log out</button> </a>

     {%else%} 
     <a href="{%url 'login'%}" class="nav-item  ms-auto">
      <button class="btn btn-primary me-2 ">log in</button> </a>

    {%endif%}

  </nav>
  
  <div class="centered-div ">
    
    {%block content%}
    <h1>Profile</h1>
    <p><strong>Username:</strong> {{ user_profile.username }}</p>
    <p><strong>First Name:</strong> {{ user_profile.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user_profile.last_name }}</p>
    <p><strong>Email:</strong> {{ user_profile.email }}</p>

    <a href="{% url 'profile_update' %}">Edit Profile</a>
    <a href="{% url 'profile_delete' %}">Delete Profile</a>

    {%endblock%}
  </div>
   
  <footer>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>
</body>

</html>
